{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to junkang's {% block title %} Food Recommendation App {% endblock %}</h1>
    <p>
        We have meal recommendations for the following list of areas!
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Area</th>
                <th scope="col">Number of Meals</th>
                </tr>
        </thead>
        <tbody>
        {% for record in data %}
            <tr>
                <td>{{ record['area'] }}</td>
                <td>{{ record['count'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
