{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Search by Photo {% endblock %}</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input class="form-control" type="file" id="file" name="file">
            <button class="btn btn-primary" type="submit">Upload</button>
        </div>
    </form>
    {% if filename %}
    <div class="container">
        Labels found in {{ filename }}
        <pre>
        {% for label in labels %}
        {{ label['Name'] }}: {{ label['Confidence'] }}
        {% endfor %}
        </pre>
    </div>
    {% endif %}
{% endblock %}
